# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore Mac OS desktop services store
.DS_Store

Inheritance/example_1

Inheritance/example_2

Inheritance/example_3.cpp

Polymorphism/example_1

String/Strings

Algorithms/Tree/Binary_Tree_Traverse

Algorithms/Dynamic_Programming/Get_Minimun_Cost1

Algorithms/Dynamic_Programming/Coin_Issue

Thread/test

test1.cpp

test2.cpp

Algorithms/Sorting/Heap_Sort

Algorithms/Sorting/Quick_Sort

Algorithms/Linked_Lists/Josephus_Problem

Algorithms/Dynamic_Programming/Max_Contiguous_Subarray_Sum

contest/Save_The_Queen
